<!doctype html>
<html lang="en">
<head>
<title>Honeymoon Tour</title>
<meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="../css/all.css">
</head>
<body>

<div class="bckgrdpattern"></div>
<div id="js-bckgrdlana" class="bckgrdlana">
	<img src="../images/lana.png">
</div>
<div id="js-container" class="container <%=@style%>">
	<div class="lanacontent">
		<header class="lanacontent-header">
			<h1 class="lanacontent-header-title">the honeymoon tour</h1>
			<div class="js-logo lanalogo"><img src="../images/lana_logo.png" alt=""></div>
			<p class="lanacontent-header-text"><span class="brightblue bold">October 2016</span> with special guest</p>
			<div class="twodoorlogo"><img src="../images/twodoorcinema_logo-blue.png" alt="Two Door Cinema Club band logo"></div>
		</header>
	</div>
	<div class="lanaform">
		<form action="/signup" method="post" id="signup" name="signup_form" novalidate>
			<div id="js-formcontent" class="formcontent">
				<div class="formheader">
					<p class="formheader-text">Sign up to get early access to pre-sale tickets.</p>
				</div>
				<ul class="formfields">
					<li class="formfields-item">
						<label for="firstname" class="formfields-item-label">First Name<span class="darkred bold">*</span></label>
						<span class="js-input formfields-item-input">
							<input type="text" id="firstname" name="fname" autocomplete="given-name" pattern="[a-z][A-Z]" required />
						</span>
						<div class="js-errormsg formfields-item-errormsg">
							<%=@firstn%>
						</div>
					</li>
					<li class="formfields-item">
						<label for="lastname" class="formfields-item-label">Last Name<span class="darkred bold">*</span></label>
						<span class="js-input formfields-item-input">
							<input type="text" id="lastname" name="lname" autocomplete="family-name" pattern="[a-z][A-Z]" required />
						</span>
						<div class="js-errormsg formfields-item-errormsg">
							<%=@lastn%>
						</div>
					</li>
					<li class="formfields-item">
						<label for="email" class="formfields-item-label">Email Address<span class="darkred bold">*</span></label>
						<span class="js-input formfields-item-input">
							<input type="email" id="email" name="email" autocomplete="email" required />
						</span>
						<div class="js-errormsg formfields-item-errormsg">
							<%=@email%>
						</div>
					</li>
					<li class="formfields-item">
						<label for="phone" class="formfields-item-label">Phone Number</label>
						<span class="js-input formfields-item-input">
							<input type="tel" id="phone" name="phone" autocomplete="tel" pattern="[0-9]" maxlength="10" title="Phone number must be 10 digits long." placeholder="no dashes" />
						</span>
						<div class="js-errormsg formfields-item-errormsg">
							<%=@phone%>
						</div>
					</li>
				</ul>
				<p class="formfineprint">*Required fields</p>
			</div>
			<div class="formsubmit">
				<button type="submit" id="js-submit" class="button--submit">Join Mailing List</button>
				<button type="reset" class="button--reset">Reset</button>
			</div>
		</form>
	</div>
	<div class="lanasite">
		<a href="http://lanadelrey.com/gallery/" class="lanasite-link">Continue to the site &rarr;</a>
	</div>
</div>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="../scripts/function.js"></script>
</body>
</html>